[Desktop Entry]
Version=0.7
Encoding=UTF-8
Name=Blob Wars : Blob And Conquer
GenericName=Game
Comment=Mission and Objective based 3D Action Game
Type=Application
Exec=blobAndConquer
Path=/usr/share/games/blobAndConquer
Icon=blobAndConquer
Categories=Game;ArcadeGame;
